<% provide(:title, @collection.name) %>
<div class="row">
  <div class="col-md-8">
    <% if @collection.cards.any? %>
      <h3>Cards (<%= @collection.cards.count %>)</h3>
      <ol class="cards">
        <%= render @cards %>
      </ol>
      <%= will_paginate @cards %>
    <% end %>
  </div>
</div>