<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="collection_form">
        <%= render 'shared/collection_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Collections</h3>
      <%= render 'shared/collections' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to the MTG App</h1>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>
